.current-container {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid grey;
    border-right: 3px solid grey;
}
.five-day-container {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid grey;
    border-right: 3px solid grey;
}
#basic-addon2:hover{
    cursor: pointer;
}
.weather-div{
    text-align: center;
    padding-bottom: 20px;
}

.five-day-div{
    display: inline-block;
    margin: 28px;
    text-align: center;
}

.city-div{
    background-color: lightgray;
    margin-left: 3px;
    margin-bottom: 5px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid grey;
    border-right: 3px solid grey;
    text-align: center;
}

.city-div:hover{
    cursor: pointer;
}
