.current-container {
    height: 400px;
}

.five-day-container {
    height: 400px;
}
.weather-div{
    text-align: center;
}

.five-day-div{
    display: inline-block;
    margin: 28px;
    text-align: center;
}